@charset "UTF-8";
/* ----------------- 共通部分 ------------------ */
img {
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 100%;
  line-height: 1.7;
}
body {
  font-family: sans-serif;
}
p {
  line-height: 1.7;
}
select {
  color: #432;
}
/* ------------------　ヘッダー　----------------- */
header {
  width: 98%;
  margin: 0 auto;
}
.logo {
  width: 50px;
}
li a:active,
li a:hover {
  color: #0bd;
}
li a {
  color: #432;
  font-size: 0.9rem;
}
.start a {
  color: white;
  background-color: #008080;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
}
/* ------------------- トップ --------------------- */
.top-wrapper {
  background-image: url(images/top.jpg);
  background-size: cover;
  z-index: 1;
  height: 100vh;
  padding-top: 12%;
}
/* ------------------ スタートアップ ----------------- */
.setup {
  background-color: #fff;
  width: 480px;
  height: 430px;
  border-radius: 5px;
  margin-left: 55%;
  z-index: 5;
}
.set-up h1 {
  font-size: 2.5rem;
  padding-top: 35px;
  line-height: 1;
}
.set-up p {
  margin: 25px 0 8px;
}
.set-up a {
  display: block;
  text-align: center;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #008080;
  color: #fff;
  width: 100%;
  padding: 12px 0;
}
.set-up {
  margin: 30px 35px;
}
input {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}
.kind {
  border: 1px solid;
  border-radius: 5px;
  width: 55%;
  height: 50px;
}
.number {
  border: 1px solid;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  margin-left: 14px;
  margin-top: 10px;
}
/* ----------------- コンテンツ ---------------- */
.intros {
  display: flex;
  justify-content: space-between;
  margin: 160px 0;
  padding-bottom: 160px;
  border-bottom: 5px #dcdcdc solid;
}
.intro-one {
  margin-top: 40px;
}
.intro-one h2,
.intro-two h2 {
  font-size: 3rem;
  text-align: center;
}
.intro-p1,
.intro-p2 {
  margin-top: 30px;
  color: #432;
}
.three-step {
  text-align: center;
}
.three-step h2 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}
.features {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-bottom: 5px #dcdcdc solid; 
  padding-bottom: 150px;
}
.feature img {
  width: 72px;
}
.feature h3 {
  font-size: 1.5rem;
  font-weight: normal;
}
.feature p {
  margin-top: 20px;
  color: #432;
}
.feature a {
  display: inline-block;
  margin-top: 20px;
  color: #0bd;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.content-i img {
  width: 30px;
  height: 35px;
}
.koe {
  font-size: 1.7rem;
}
.setumei {
  font-size: 0.9rem;
  margin: 18px 0;
}
.content-i a {
  display: inline-block;
  color: #432;
  border: #432 2px solid;
  border-radius: 5px;
  padding: 8px 15px;
}
.sft {
  text-align: center;
  margin-top: 120px;
  font-size: 3.5rem;
  margin-bottom: 55px;
}
.safety {
  display: flex;
  justify-content: space-between;
}
.safety-1 p,
.safety-2 ul {
  color: #432;
  line-height: 1.7;
}
.safety-1 a {
  display: inline-block;
  margin: 15px 0;
  color: #0bd;
}
.man {
  margin: 70px auto 0;
  width: 92%;
}
.kazu {
  text-align: center;
}
.kazu h3 {
  font-size: 3.5rem;
  font-weight: normal;
}
.kazu p {
  margin-top: 15px;
}
.kazu-p {
  text-align: center;
}
.kazu-p h3 {
  font-size: 3.8rem;
  font-weight: normal;
}
.kazu-p p {
  margin-top: 27px;
}
.qstns {
  display: flex;
  justify-content: space-between;
}
.li-q{
  padding: 15px 0;
  border-bottom: 1px #dcdcdc solid;
}
.li-q a {
  color: #4682b4;
  font-size: 1.1rem;
}
.detail {
  margin-top: 100px;
  margin-bottom: 18px;
  font-size: 1.5rem;
  color: #432;
}
.hostings {
  display: flex;
  justify-content: space-between;
}
.hosting h4 {
  margin-top: 5px;
  color: #432;
}
.hosting p {
  color: #432;
}
.hosting a {
  color: #4682b4;
}
.kaishi {
  width: 100%;
  height: 441px;
  margin: 100px auto 0 auto;
  background-image: url(images/bridge.jpg);
  background-size: cover;
}
.kaishi div {
  padding: 8%;
}
.kaishi h2{
  color: #fff;
  font-size: 3.7rem;
}
.kaishi a {
  display: block;
  text-align: center;
  background-color: #fff;
  padding: 10px 8px;
  border-radius: 5px;
  margin-top: 30px;
  width: 20%;
  color: #432;
}
/* -------------------　フッター　-------------------- */
footer {
  width: 80%;
  max-width: 1260px;
  margin: 50px auto 0 auto;
}
.contents-f {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #dcdcdc solid;
}
.content-f {
  width: 25%;
  margin-bottom: 40px;
  text-align: center;
}
.content-f p {
  margin-top: 45px;
  font-size: 0.8rem;
  color: #000;
}
.content-f ul {
  margin-top: 25px;
}
.f-ul a {
  display: inline-block;
  padding: 7px 0;
  font-size: 0.8rem;
}
.kikaku p {
  font-size: 0.8rem;
  padding: 2% 0;
  color: #432;
}
.chekku {
  width: 20px;
  margin-top: 5px;
}
.cln-1 {
  height: 230px;
}
.for-in {
  display: inline;
} 
@media screen and (max-width: 768px) {
  p, a {
    font-size: 0.8rem;
    text-align: center;
  }
  h1, h2 {
    font-size: 1.4rem !important;
    text-align: center;
  }
  h3, h4, h5 {
    text-align: center;
    font-size: 1rem !important;
  }
  .top-wrapper {
    background-size: cover;
    height: 200px;
  }
  .setup {
    display: none;
  }
  .contents-f,
  .kikaku {
    display: none;
  }
  .kaishi {
    margin: 0;
    height: auto;
    max-width: 100%;
  }
  .intros {
    padding-bottom: 25%;
    margin: 0;
  }
  .intro-one {
    margin-bottom: 5%;
  }
  .intro-p1 {
    margin: 6% 0;
  }
  .sft {
    margin: 30% 0 0;
  }
  .feature {
    text-align: center;
  }
  .features {
    padding-bottom: 30%;
  }
  .feature p {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  .feature h3 {
    display: inline;
  }
  .feature img {
    width: 50px;
  }
  .safety-1 p {
    width: 90%;
    margin: 8% auto;
  }
  .safety {
    text-align: center;
  }
  .safety-2 ul {
    padding: 0;
    margin-top: 5%;
  }
  .safety-2 li {
    padding: 5px 0;
  }
  .man {
    margin: 10% auto 0;
  }
  .content {
    margin-top: 20%;
  }
  .btn {
    width: 100%;
  }
  .features {
    padding-bottom: 20%;
  }
  .jise {
    margin-top: 25%;
  }
  .li-q a {
    font-size: 0.8rem;
  }
  .qstn-1 ul,
  .qstn-2 ul {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .qstns {
    padding: 10% 0;
  }
  .detail {
    margin-top: 20%;
  }
  .hostings {
    padding: 10% 0;
  }
  .hosting {
    text-align: center;
    margin-bottom: 10%;
  }
  .hosting h4 {
    padding-top: 10px;
  }
  .hosting p {
    margin: 0;
  }
  .kaishi a {
    padding: 10px 8px;
    border-radius: 5px;
    margin-top: 30px;
    width: 40%;
  }
  .header-right {
    display: none;
  }
  .form-wrapper {
    background-color: #f5f5f5;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .form-wrapper h1 {
    margin: 0 auto 8%;
  }
  .kind {
    width: 100%;
    height: 50px;
    margin: 5% 0 0 0;
  }
  .number {
    width: 100%;
    height: 50px;
    margin: 5% 0 0 0;
  }
  .for-p-1 {
    padding-right: 3px;
  }
  .for-p-2 {
    padding-left: 3px;
  }
  .for-m-a {
    display: block;
    margin-top: 3%;
    text-align: center;
    border-radius: 5px;
    background-color: #008080;
    color: #fff;
    width: 100%;
    padding: 12px 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .top-wrapper {
    height: 400px;
  }
}
